/*overwrite vite*/
html, body, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;
  background-color: #1D2B53;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1{
  color: #FAEF5D;
}

h2{
  color: #FF004D;
}

li{
  text-emphasis: none;
  list-style: none;
}

input{
  border: solid 1px #FFFFFF;
  padding: 8px;
  font-size: 1.5rem;
  border-radius: 20px;
  margin-right: 20px;
}

button{
  cursor: pointer;
  border: none;
  border-radius: 20px;
}

button:hover{
  background-color: #7E2553;
  border: none;
}

.result-container{
  margin-top: 30px;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 80px;
}

.movie-card{
  border: solid 1px #FFFFFF;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s ease;
  cursor: pointer;
  background-color: #130f2a;
}

.movie-card:hover{
  transform: scale(120%);
  background-color: #130f2a90;
  box-shadow: 5px 5px 30px #bc3890;
}

.movie-card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.skeleton{
  background-color: #655b9a;
  border-radius:20px;
  border:solid 1px #FFFFFF;
  padding: 10px;
  height: 300px;
  width: 100%;

  animation:pulse 1s infinite ease-in-out;
}

.skeleton-image{
  min-width: 100%;
  min-height: 300px;
  object-fit: cover;
  border:solid 1px #FFFFFF;
  border-radius: 10px;
}

@keyframes pulse {
  0% {opacity:0.1;}
  50% {opacity:1;}
  100% {opacity:0.1;}
}

.details-overlay{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex ;
  justify-content: center;
  align-items: center;
  background: rgba(10, 12, 34, 0.85);
  backdrop-filter: blur(5px);
}

.details-container{
  border: solid 1px #FFFFFF;
  border-radius: 20px;
  background-color: #130f2a;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  max-width: 40%;
  width: 90%;
}

.details-container img{
  border-radius: 10px;
}

.desc-text{
  min-width: 200px;
  padding: 10px;
  max-height: 40%;
  margin: 20px;
}